.purple{
    color: var(--purple-color);
}

.black{
    color: var(--black-color);
}

.lilac{
    color: var(--lilac-color);
}

.white{
    color: var(--white-color);
}

.font-color{
    color: var(--font-color);
}

.heading-color{
    color: var(--heading-color);
}

.thin {
    font-weight: 100;
}

.xlight {
    font-weight: 200;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semibold{
    font-weight: 600;
}

.bold{
    font-weight: 700;
}

.xbold{
    font-weight: 800;
}

.xxbold{
    font-weight: 900;
}

.underline{
    text-decoration: underline;
}

.no-underline{
    text-decoration: none;
}

a:focus-within {
    color: #bc7afe !important;
}

h2{
    font-size: 5rem;
}

h4{
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--purple-color);
    letter-spacing: 1.4px;
}

h5 {
    font-size: 2rem;
    color: var(--purple-color);
}

.logo{
    font-size: 1.6rem;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
}

.gridx2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridx3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gridx3-form {
    display: grid;
    grid-template-columns: 1fr .2fr 1fr;
}

.gridx4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gridx5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.txt-align-ctr{
    text-align: center;
}

.justify-ctr{
    justify-items: center;
}

.align-ctr{
    align-items: center;
}

.btn{
    background-color: var(--purple-color);
    padding: 15px 30px;
    border-radius: 30px;
    color: var(--white-color);
}

.padding-top{
    padding-top: 20px;
}

.padding-top-form {
    padding-top: 155px;
}

.padding-bottom{
    padding-bottom: 20px;
}

.margin-top {
    margin-top: 35px;
}

.chat{
    padding: 15px;
    background-color: var(--black-color);
    border-radius: 50px;
    z-index: 100;
}

.card {
    width: 300px;
    max-width: 0 auto;
    margin-bottom: 150px;
}

.abt-container {
    width: 698px;
    padding-left: 250px;
}

.test-container {
    width: 650px;
    margin: 0 auto;
    justify-self: center;
}

.contact-container {
    justify-self: center;
    padding-top: 100px;
}

.contact-container :nth-child(3) {
    line-height: 32px;
    padding-bottom: 2.5rem;
}

.form-container {
    justify-self: center;
    width: 500px;
}

.map-container {
    width: 100% !important;
    overflow: hidden;
}

.form-border {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    line-height: 35px;
}

.form-border:focus {
    outline: none;
    border-bottom: 2.5px solid var(--purple-color) !important;
}

.form-txt {
    font-weight: 300;
    font-size: small;
    color: var(--font-color);
}

.input-margin {
    margin-left: 100px;
}

input, label {
    display:block;
}

.inline-block {
    display: inline-block;
}

.no-outline {
    outline: none !important;
}
